<!DOCTYPE html>
<html lang="en" ng-app=app>
    <head>
        <%- include ../partials/header.html %>
    </head>
    <body ng-controller="main">
        <%- include ../partials/nav.html %>
        <div class="titlebox">
            <div class="titletext">
                title goes here
            </div>
            <div class="subtitletext">
                subtitle goes here
            </div>
        </div>
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-sm-6">
                        <%- include ../partials/about.html %>
                        <%- include ../partials/web.html %>
                        <%- include ../partials/mobile.html %>
                        <%- include ../partials/bots.html %>
                        <%- include ../partials/contact.html %>
                    </div>
                    <div class="col-sm-6">
                        <%- include ../partials/projects.html %>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <div class="footerbox">
        <div class="footertext">

        </div>
    </div>
</html>
